<ion-app>
  <ion-split-pane when="sm" content-id="main-content">
    <ion-menu content-id="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-list-header> Navigate </ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item button href="https://8100-dizorgamer2020-2egapami0-nc3d04gb8rh.ws-us39a.gitpod.io/home">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label> Home </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <ion-title>Detalhes séries</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="true" class="corB">
        <ion-card class="ba">
          <ion-card-header>           
            <ion-card-title>Brooklyn 99</ion-card-title>
            <ion-card-subtitle>              
              Serie Policial/Comédia
            </ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content>
            <ion-thumbnail>
              <ion-img [src]="imagem.capa1"></ion-img>
            </ion-thumbnail>
            <hr color="yellow">
            <h2><b>Estreia: 17 de setembro de 2013</b><br>
            <b>Temporadas: 8</b><br>
            <b>Elenco: Andy Samberg, Stephanie Beatriz, Terry Crews, Melissa Fumero, Joe Lo Truglio, Chelsea Peretti, Andre Braugher, Dirk Blocker, Joel McKinnon Miller.</b><br>
            <b>Diretores: Andy Samberg, Marshall Boone.</b><br></h2>
            <hr color="yellow"><br>         
            <h2><b>SINOPSE:</b></h2><br>
            Situado na 99.ª delegacia fictícia do Departamento de Polícia de Nova York, no Brooklyn, Brooklyn Nine-Nine segue uma equipe de detetives liderados pelo capitão Raymond Holt (Andre Braugher), recém-nomeado e muito sério. Os detetives incluem Jake Peralta (Andy Samberg), 
            que tem uma alta taxa de prisões bem-sucedidas e casos resolvidos, apesar de sua atitude relaxada, despreocupada e (às vezes) infantil. 
            Ele finalmente se apaixona por sua parceira severa, nerd, amável, mas adorável, Amy Santiago (Melissa Fumero). O esforçado, mas tímido Charles Boyle (Joe Lo Truglio) faz parceria com a estóica, agressiva e severa Rosa Diaz (Stephanie Beatriz). Os dois detetives mais velhos, Michael Hitchcock (Dirk Blocker) e Norm Scully (Joel McKinnon Miller) muitas vezes parecem incompetentes,
            estúpidos e preguiçosos, mas resolveram mais casos ao longo dos anos simplesmente porque estão trabalhando há mais tempo.

            Os detetives se reportam ao sargento Terry Jeffords (Terry Crews), um gigante gentil e devotado homem de família que inicialmente tem uma fobia de voltar ao trabalho policial de campo ativo por medo de ser morto no cumprimento do dever e deixar suas filhas sem pai. 
            A delegacia também inclui a administradora civil sarcástica e dominadora Gina Linetti (Chelsea Peretti), que não gosta de seu trabalho, prioriza suas mídias sociais e acredita que dançar é seu objetivo de vida.
          </ion-card-content>
        </ion-card>
      </ion-content>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button href="https://8100-dizorgamer2020-2egapami0-nc3d04gb8rh.ws-us40.gitpod.io/home">
            <ion-label>Series</ion-label>
            <ion-icon name="home"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </div>
  </ion-split-pane>
</ion-app>