<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="corA">
  <ion-card class="crd" *ngFor="let serie of series">
    <ion-card-header>
      <ion-card-title>{{serie.titulo}}</ion-card-title>
      <ion-card-subtitle>
        {{serie.subtitulo}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-img [src]="serie.capa"></ion-img>
      </div>
      {{serie.texto}}
    </ion-card-content>
  </ion-card>
  <div class="ion-text-center">
    <ion-button href="https://8100-dizorgamer2020-2egapami0-nc3d04gb8rh.ws-us40.gitpod.io/detalhes-serie">Detalhes das Series</ion-button>
  </div>
</ion-content>
